Repository libra2org/libra2-core, changes with the owners that CODEOWNERS names for each.
All owners: @aptos-labs/prod-eng, @banool, @gregnazario, @0xmaayan, @georgemitenkov, @gelash, @zekun000, @vgao1996, @davidiw, @wrwg, @alinush, @heliuchuan, @movekevin, @zjma, @mstraka100, @junkil-park, @areshand, @sasha8, @danielxiangzl, @sitalkedia, @runtian-zhou, @joshlind, @ibalajiarun, @bchocho, @rex1fernando, @bowenyang007, @jillxuu, @larry-aptos, @rtso, @aptos-labs/ecosystem-infra, @geekflyer, @aptos-labs/security, @msmouse, @lightmark, @grao1991, @hariria

Add devnet helper scripts
  README.md
  scripts/devnet-down.sh
  scripts/devnet-up.sh
Owners: @aptos-labs/prod-eng

Libra2 blockchain & devnet-up.sh no tx stream
  RUST_SECURE_CODING.md
  api/README.md
  api/doc/README.md
  api/doc/spec.json
  api/doc/spec.yaml
  api/src/runtime.rs
  crates/libra2-warp-webserver/src/error.rs
  crates/libra2/homebrew/README.md
  crates/libra2/src/move_tool/mod.rs
  libra2-move/framework/CONTRIBUTING.md
  libra2-move/framework/libra2-framework/doc/account_abstraction.md
  libra2-move/framework/libra2-framework/doc/ethereum_derivable_account.md
  libra2-move/framework/libra2-framework/doc/solana_derivable_account.md
  libra2-move/framework/libra2-framework/sources/account/account_abstraction.move
  libra2-move/framework/libra2-framework/sources/account/common_account_abstractions/ethereum_derivable_account.move
  libra2-move/framework/libra2-framework/sources/account/common_account_abstractions/solana_derivable_account.move
  libra2-move/libra2-gas-schedule/src/gas_schedule/mod.rs
  libra2-move/libra2-vm-environment/src/prod_configs.rs
  libra2-move/libra2-vm-types/src/module_and_script_storage/code_storage.rs
  libra2-move/libra2-vm-types/src/module_and_script_storage/module_storage.rs
  libra2-move/move-examples/large_packages/large_package_example/sources/eight.move
  libra2-move/move-examples/large_packages/large_package_example/sources/five.move
  libra2-move/move-examples/large_packages/large_package_example/sources/seven.move
  libra2-move/move-examples/large_packages/large_package_example/sources/six.move
  scripts/devnet-up.sh
  sdk/src/types.rs
  terraform/helm/aptos-node/Chart.yaml
  terraform/helm/aptos-node/README.md
  terraform/helm/fullnode/README.md
  terraform/helm/fullnode/README.md.gotmpl
  terraform/helm/genesis/Chart.yaml
  terraform/helm/genesis/README.md
  testsuite/replay-verify/README.md
  testsuite/smoke-test/src/account_abstraction.rs
  types/src/transaction/authenticator.rs
Owners: @banool, @gregnazario, @0xmaayan, @davidiw, @movekevin, @wrwg, @georgemitenkov, @gelash, @vgao1996, @aptos-labs/prod-eng, @alinush, @mstraka100

Add skeleton txn stream gRPC service
  Cargo.toml
  crates/libra2-protos-txnstream/Cargo.toml
  crates/libra2-protos-txnstream/build.rs
  crates/libra2-protos-txnstream/proto/txnstream/v1/txnstream.proto
  crates/libra2-protos-txnstream/src/lib.rs
  crates/libra2-txnstream-server/Cargo.toml
  crates/libra2-txnstream-server/src/lib.rs
Owners: none

txnstream fixs
  Cargo.lock
  Cargo.toml
  api/src/log.rs
  api/test-context/src/test_context.rs
  api/types/src/headers.rs
  crates/libra2-protos-txnstream/Cargo.toml
  crates/libra2-protos-txnstream/build.rs
  crates/libra2-protos-txnstream/src/lib.rs
  crates/libra2-rest-client/src/client_builder.rs
  crates/libra2-rest-client/src/state.rs
  crates/libra2-telemetry-service/src/validator_cache.rs
  crates/libra2-txnstream-server/Cargo.toml
  crates/libra2-txnstream-server/src/lib.rs
  crates/libra2-warp-webserver/src/response.rs
  crates/libra2/src/common/types.rs
  crates/transaction-emitter-lib/src/instance.rs
  protos/proto/libra2/txnstream/v1/txnstream.proto
  scripts/devnet-up.sh
Owners: @banool, @gregnazario, @0xmaayan, @ibalajiarun, @geekflyer, @aptos-labs/prod-eng

Add txn stream gRPC service and localnet wiring
  .github/workflows/lint-test.yaml
  Cargo.lock
  Cargo.toml
  README.md
  config/src/config/mod.rs
  config/src/config/node_config.rs
  config/src/config/test_data/public_full_node.yaml
  config/src/config/test_data/validator.yaml
  config/src/config/test_data/validator_full_node.yaml
  config/src/config/txn_stream_config.rs
  crates/libra2/Cargo.toml
  crates/libra2/src/node/local_testnet/health_checker.rs
  crates/libra2/src/node/local_testnet/mod.rs
  crates/libra2/src/node/local_testnet/node.rs
  protos/rust/src/pb/libra2.txnstream.v1.rs
  protos/rust/src/pb/mod.rs
  scripts/devnet-up.sh
Owners: @aptos-labs/prod-eng, @joshlind, @gregnazario

Fix txnstream proto compilation
  protos/rust/src/pb/libra2.txnstream.v1.rs
Owners: none

more txnstream fix
  Cargo.lock
  ecosystem/indexer-grpc/txnstream-server/Cargo.toml
  ecosystem/indexer-grpc/txnstream-server/src/lib.rs
  scripts/devnet-down.sh
  scripts/devnet-up.sh
Owners: @aptos-labs/prod-eng

Improve devnet bootstrap and txnstream server
  ecosystem/indexer-grpc/txnstream-server/Cargo.toml
  ecosystem/indexer-grpc/txnstream-server/src/lib.rs
  ecosystem/indexer-grpc/txnstream-server/src/main.rs
  protos/rust/src/lib.rs
  scripts/devnet-down.sh
  scripts/devnet-up.sh
Owners: @aptos-labs/prod-eng

CODEOWNERS:

# **Please** keep this file ordered alphabetically by directory paths.

# Owners for the `.github` directory and all its subdirectories.
/.github/ @aptos-labs/prod-eng

# Owners for the `/api` directory and all its subdirectories.
/api/ @banool @gregnazario @0xmaayan

# Owners for the `/libra2-move` directory and its subdirectories:`aptos-gas`, `libra2-vm`, `framework` and `framework/libra2-stdlib/sources/cryptography`.
/libra2-move/libra2-aggregator/ @georgemitenkov @gelash @zekun000
/libra2-move/aptos-gas/ @vgao1996
/libra2-move/libra2-vm/ @davidiw @wrwg @zekun000 @vgao1996 @georgemitenkov
/libra2-move/libra2-vm/src/keyless_validation.rs @alinush @heliuchuan
/libra2-move/libra2-vm-types/ @georgemitenkov @gelash @vgao1996
/libra2-move/framework/ @davidiw @movekevin @wrwg
/libra2-move/framework/libra2-framework/sources/account.move @alinush
/libra2-move/framework/libra2-framework/sources/jwks.move @zjma
/libra2-move/framework/libra2-framework/sources/keyless_account.move @alinush
/libra2-move/framework/libra2-stdlib/sources/cryptography/ @alinush @zjma @mstraka100
/libra2-move/framework/**/*.spec.move @junkil-park
/libra2-move/framework/libra2-stdlib/sources/hash.move @alinush

# Owner for libra2-token, cryptography natives, parallel-executor and vm-genesis.
/libra2-move/framework/libra2-token @areshand
/libra2-move/framework/src/natives/cryptography/ @alinush @zjma @mstraka100
/libra2-move/framework/src/natives/aggregator_natives/ @georgemitenkov @gelash @zekun000
/libra2-move/block-executor/ @gelash @zekun000 @sasha8 @danielxiangzl
/libra2-move/sharded_block-executor/ @sitalkedia
/libra2-move/mvhashmap/ @gelash @runtian-zhou @sasha8 @danielxiangzl
/libra2-move/vm-genesis/ @davidiw @movekevin

# Owner for aptos node (to prevent things from becoming out of hand :D)
/libra2-node/ @joshlind

# Owner for the node configs (to prevent things from becoming out of hand :D)
/config/ @joshlind @gregnazario

# Owners for the `/consensus` directory and all its subdirectories.
/consensus/ @zekun000 @sasha8 @ibalajiarun

# Owners for consensus observer
/consensus/src/consensus-observer/ @joshlind @zekun000

# Owners for quorum store.
/consensus/src/quorum_store/ @bchocho @sasha8 @gelash

# Owners for the `/crates/aptos` directory and all its subdirectories.
/crates/aptos @gregnazario @banool

# Owners for the `/crates/libra2-crypto*` directories.
/crates/libra2-crypto-derive/ @alinush @zjma @mstraka100 @rex1fernando
/crates/libra2-crypto/ @alinush @zjma @mstraka100 @rex1fernando

# Owners for the `/crates/libra2-faucet` directory and all its subdirectories. And other faucet, genesis, and OpenAPI-related crates.
/crates/libra2-faucet @banool @gregnazario
/crates/libra2-genesis @gregnazario

# Owners for the libra2-logger crate
/crates/libra2-logger @gregnazario @joshlind

/crates/aptos-open-api @banool @gregnazario

# Owners for the libra2-protos crate
/crates/libra2-protos @banool @bowenyang007 @jillxuu @larry-aptos @rtso  @aptos-labs/ecosystem-infra

/crates/libra2-rest-client @banool @gregnazario

# Owners for the `/libra2-rosetta` directory and related crates.
/crates/libra2-rosetta @gregnazario
/crates/libra2-rosetta-cli @gregnazario

# Owners for the libra2-speculative-state-helper crate
/crates/libra2-speculative-state-helper @gelash

# Owners for the `telemetry` related crates.
/crates/libra2-telemetry @ibalajiarun @geekflyer
/crates/libra2-telemetry-service @ibalajiarun @geekflyer

# Owners for the inspection-service crate
/crates/inspection-service/ @joshlind

# Owners for the `/dashboards` directory and all its subdirectories.
/dashboards/ @aptos-labs/prod-eng

# Owners for the `/docker` directory and all its subdirectories.
/docker/ @aptos-labs/prod-eng
/docker/builder/docker-bake-rust-all.hcl @aptos-labs/prod-eng @aptos-labs/security

# Owners for execution and storage.
/execution/ @msmouse @lightmark @grao1991

# Owners for mempool.
/mempool/ @bchocho

# Owners for the network and all its subdirectories.
/network/ @joshlind @zekun000

# Owners for the scripts
/scripts/ @aptos-labs/prod-eng
/scripts/authenticator_regenerate.sh @alinush @hariria @heliuchuan
/scripts/algebra-gas/ @zjma

# Owners for the `/state-sync` directory and all its subdirectories.
/state-sync/ @joshlind

# Owners for execution and storage.
/storage/ @msmouse @lightmark @grao1991

# Owners for the `/terraform` directory and all its subdirectories.
/terraform/ @aptos-labs/prod-eng

# Owners for the `libra2-dkg` crate.
/crates/libra2-dkg @alinush @rex1fernando

/types/src/keyless/ @alinush @heliuchuan
/types/src/transaction/authenticator.rs @alinush @mstraka100
